
/* 
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #091724;
} */

#container {
  display: flex;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Reduced padding for smaller screens */
}

.message {
  margin-top: 10px; /* Reduced margin for smaller screens */
  margin-bottom: 30px;
  font-size: 24px; /* Adjusted font size for smaller screens */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; /* Center the text horizontally */
}
.button {  /*need to generalize this style .. for all buttons */

  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}




@media screen and (min-width: 768px) {
  /* Adjustments for larger screens */
  #container {
    padding: 50px; /* Increased padding for larger screens */
  }
  .message {
    margin-top: 20px; /* Increased margin for larger screens */
    font-size: 40px; /* Adjusted font size for larger screens */
  }
}
